<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/Users/jackseel/Documents/Documents/UMSI339/finalproject/css/style.css">
    <script src="/Users/jackseel/Documents/Documents/UMSI339/finalproject/js/style.js"></script>
</head>
<body>
  <header>
    <nav>
      <a class="skip-content" href="#intro">Skip to main content</a>
        <ul class="nav_links">
          <!-- <li class="about_me"> <a href="about_me.html" style="text-decoration: none; color: rgb(0, 0, 0);background-color: #c1f9f8;">About Me</a></li> -->
          <li class="home"> <a href="index.html" style="text-decoration: none; color: rgb(0, 0, 0); border:3px rgb(0, 0, 0) solid; padding: 5px;background-color: #c1f9f8;">Home</a></li>
          <li class="projects"> <a href="projects.html" style="text-decoration: none; color: rgb(0, 0, 0);background-color: #c1f9f8;">Projects</a></li>
        <!-- <li class="home"> <a href="index.html"><img src="img/logo.png" alt="Logo with letters JS" width="70" height="60"></a></li> -->
        </ul>
    </nav>
  </header>
<main>
  <h1 
    class="intro" tabindex="0" id="intro"> PYTHON
        <!-- Your existing HTML content here -->
    
        <!-- Display the Python-generated content -->
        <div class="python-content" tabindex="0">
            <p>{{ python_output }}</p>
        </div>
  </h1> 

  <h1>
    <py-script>
      
    </py-script>
  </h1>
</main> 

<!-- <h3 id="part2">Projects </h3> -->

<footer>
  Est.Birmingham MI
</footer>

</body>
</html>

